@import '../../../assets/scss/_scrollbar.scss';

body {
  width: 400px;
}

.text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 12px;
}

.logo {
  margin-right: 10px;
}
