@import '../../../assets/scss/_scrollbar.scss';

body {
  width: 400px;
}

#app-container {
  max-height: 600px;
}

.text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 12px;

  &__link {
    font-size: 13px !important;
    line-height: 17px !important;
    color: grey !important;
    text-decoration-color: grey !important;
  }
}

.logo {
  margin-right: 10px;
}

.content-text {
  font-size: 14px !important;
  line-height: 18px !important;
}
