@import '../../../assets/scss/_scrollbar.scss';

body {
  width: 400px;
}

.text-truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.logo {
  width: 50px !important;
  height: 50px !important;
  margin-right: 16px;
}